body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #d8d8e373;
}
button:hover {
  border-color: #8d90d2;
}
button:focus,
button:focus-visible {
  outline: none;
}
.wrapper {
  position: relative;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}

.dots {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  gap: 5px;
  position: absolute;
  bottom: 10px;
}

.dots button {
  padding: 10px;
}

.active {
  background-color: #d8d8e3e7;
}
