body {
  font-family: sans-serif;
}
.steps-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-num {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  z-index: 2;
}

.step-name {
  font-size: 16px;
}
.active .step-num {
  background-color: #007bff;
  color: #fff;
}
.complete .step-num {
  background-color: #28a745;
  color: #fff;
}

.step-progress-bar {
  position: absolute;
  top: 3.7%;
  left: 0;
  height: 4px;
  background-color: #ccc;
}
.progress {
  height: 100%;
  background-color: #28a745;
  transition: 0.2s ease;
}
