body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

/* important to set height & overflow - to trigger scrollEvent */
.infi-scroll {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
}
.infi-scroll .cell,
.loading {
  padding: 10px;
  font-size: 24px;
  border: 1px solid rgb(161, 133, 238);
  background-color: aliceblue;
}
