body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.modal-container {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(61, 53, 53, 0.808);
}
.modal-content {
  position: relative;
  border: 1px solid rgb(53, 45, 53);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.modal-content button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: large;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  background-color: rgb(178, 239, 239);
}
