* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: rgb(47, 51, 48);
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #6336a8;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copyBtn {
  padding: 8px;
  font-size: 14px;
}
.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 15px;
}

.slider {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 24px 0px;
}
.slider span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 10px;
}
.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
}
.errorMessage {
  color: rgb(204, 57, 57);
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0px;
}
