body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table {
  margin: 5px 20px;
  max-width: 1200px;
  border-collapse: collapse;
}
table td {
  padding: 10px;
}
tr {
  border: 1px solid rgb(171, 98, 224);
}
