body {
  margin: 0;
  text-align: center;
}

.fullScreen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(116, 108, 100, 0.388);
}

.loader {
  height: 100px;
  width: 100px;
  border: 15px solid rgb(44, 177, 163);
  border-radius: 50%;
  border-top: 15px solid rgb(65, 227, 210);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
